<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/plugins/elementui/index.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="hold-transition">
    <div id="app">
        <div class="content-header">
            <h1>后台管理<small>权限管理</small></h1>
            <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>后台管理</el-breadcrumb-item>
                <el-breadcrumb-item>权限管理</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="app-container">
            <div class="box">
                <div class="filter-container">
                    <el-input placeholder="权限名称/权限关键字" v-model="pagination.queryString" style="width: 200px;"
                        class="filter-item"></el-input>
                    <el-button @click="findPage()" class="dalfBut">查询</el-button>
                    <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                </div>
                <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                    <el-table-column type="index" align="center" label="序号"></el-table-column>
                    <el-table-column prop="name" label="权限名称" align="center"></el-table-column>
                    <el-table-column prop="keyword" label="权限关键字" align="center"></el-table-column>
                    <el-table-column prop="description" label="权限描述" align="center"></el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button type="primary" size="mini" @click="handleEdit(scope.row)">编辑</el-button>
                            <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination-container">
                    <el-pagination class="pagiantion" @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage" :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper" :total="pagination.total">
                    </el-pagination>
                </div>
                <!-- 新增标签弹层 -->
                <div class="add-form">
                    <el-dialog title="新增权限项" :visible.sync="dialogFormVisible">
                        <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                            label-width="100px">
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="权限名称" prop="name">
                                        <el-input v-model="formData.name" />
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="权限关键字" prop="keyword">
                                        <el-input v-model="formData.keyword" />
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24">
                                    <el-form-item label="权限描述">
                                        <el-input v-model="formData.description" type="textarea"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">取消</el-button>
                            <el-button type="primary" @click="handleAdd()">确定</el-button>
                        </div>
                    </el-dialog>
                </div>

                <!-- 编辑标签弹层 -->
                <div class="add-form">
                    <el-dialog title="编辑权限项" :visible.sync="dialogFormVisible4Edit">
                        <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                            label-width="100px">
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="权限名称" prop="name">
                                        <el-input v-model="formData.name" />
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                            <el-col :span="12">
                                <el-form-item label="权限关键字" prop="keyword">
                                    <el-input v-model="formData.keyword" />
                                </el-form-item>
                            </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24">
                                    <el-form-item label="权限描述">
                                        <el-input v-model="formData.description" type="textarea"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                            <el-button type="primary" @click="handleUpdate()">确定</el-button>
                        </div>
                    </el-dialog>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- 引入组件库 -->
<script src="/static/js/vue.js"></script>
<script src="/static/plugins/elementui/index.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            pagination: {//分页数据模型
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//增加表单是否可见，即是否弹出添加窗口
            dialogFormVisible4Edit: false,//修改表单是否可见，即是否弹出修改窗口
            rules: {//校验规则
                name: [{ required: true, message: '权限名称为必填项', trigger: 'blur' }],
                keyword: [{ required: true, message: '权限关键字为必填项', trigger: 'blur' }]
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        methods: {
            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.dialogFormVisible = true;
            },
            // 添加
            handleAdd() {
                this.$refs['dataAddForm'].validate((valid) => {
                    // 所有验证通过后才会为true,只要有一个失败就是false
                    
                    if (valid) {
                        
                        // 发送ajax axios
                        axios.post('/permission/add.do', this.formData).then(res => {
                            // res.data  {flag:ture,message:'',data:{}}
                            this.$message({
                                message: res.data.message,
                                type: res.data.flag ? 'success' : 'error'
                            });
                            // 如果成功
                            if (res.data.flag) {
                                // 关闭窗口
                                this.dialogFormVisible = false;
                                // 刷新列表
                                this.findPage();
                            }
                        })
                    } else {
                        //console.log('error submit!!');
                        this.$message({
                            message: "表单验证失败",
                            type: 'error'
                        })
                        // 中止form表单的提交
                        console.log(this.formData)
                        return false;
                    }
                });
            },
            // 重置表单
            resetForm() {
                this.formData = {}
            },
            // 分页查询
            findPage() {
                //分页参数
                var param = {
                    currentPage: this.pagination.currentPage,//页码
                    pageSize: this.pagination.pageSize,//每页显示的记录数
                    queryString: this.pagination.queryString//查询条件
                };
                //请求后台
                axios.post("/permission/findPage.do", param).then((response) => {
                    //为模型数据赋值，基于VUE的双向绑定展示到页面
                    this.dataList = response.data.rows;
                    this.pagination.total = response.data.total;
                });
            },
            // 删除
            handleDelete(row) {
                // alert(`/checkitem/deleteRow.do?id=${row.id}`)
                this.$confirm("确认删除吗？", "提示", { type: 'warning' }).then(() => {
                    //点击确定按钮时只需此处代码
                    //alert('用户点击的是确定按钮');
                    axios.get(`/permission/deleteRow.do?id=${row.id}`)
                        .then( res => {
                            if (!res.data.flag) {
                                //删除失败
                                this.$message.error(res.data.message);
                            } else {
                                //删除成功
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                                //调用分页，获取最新分页数据
                                this.findPage();
                            }
                        })
                        .catch(err =>{
                            this.showSecurity(err)
                        })
                })
                    .catch(() => {
                        this.$message.info('取消删除')
                    })
            },
            // 弹出修改窗口
            handleEdit(row) {
                // alert(row.id)
                
                axios.get(`/permission/findById.do?id=${row.id}`)
                    .then(resp => {
                        if (resp.data.flag) {
                            this.dialogFormVisible4Edit = true;
                            this.formData = resp.data.data;
                            
                        } else {
                            this.$message.error('获取失败,请刷新当前页面')
                        }
                    })
                    .catch(err => {
                        this.$message.error('获取失败,请联系管理员')
                    })
                
            },
            // 修改数据后提交
            handleUpdate(row) {
                this.$refs['dataEditForm'].validate(valid => {
                    if (valid) {
                        console.log("update")
                        console.log(this.formData)
                        axios.post(`/permission/editPermissionById.do`, this.formData)
                            .then(resp => {
                                if (resp.data.flag) {
                                    this.dialogFormVisible4Edit = false;
                                    this.$message({
                                        type: 'success',
                                        message: resp.data.message
                                    })
                                } else {
                                    this.$message.error(resp.data.message)
                                }
                            })
                            .catch(err => {
                                this.showSecurity(err)
                            })
                            .finally(() => {
                                this.findPage()
                            })
                    } else {
                        this.$message.error("表单数据校验失败,请检查输入的选项");
                        return false;
                    }
                })
                
            },
            // 切换页码时，需要刷新列表
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            showSecurity(error){
                //console.log(error.response.data);//返回单额body
                //console.log(error.response.headers);//返回的响应头
                var status = error.response.status;//状态码
                if(status == 403 ){
                    this.$message.error('未获得权限,请联系管理员开通')
                }else{
                    this.$message.error('发送错误,请联系管理员')
                }
                
            }
        }
    })
</script>

</html>