<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/plugins/elementui/index.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>后台管理
            <small>用户管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>后台管理</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="用户名/电话" v-model="queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="username" label="用户名" align="center"></el-table-column>
                <el-table-column prop="fullname" label="全名" align="center"></el-table-column>
                <el-table-column prop="gender" label="性别" align="center"></el-table-column>
                <el-table-column prop="birthday" label="生日" align="center" :formatter="dateFormat"></el-table-column>
                <el-table-column prop="name" label="角色名称" align="center"></el-table-column>
                <el-table-column prop="telephone" label="电话" align="center"></el-table-column>
                <el-table-column prop="email" label="邮件" align="center"></el-table-column>
                <el-table-column prop="remark" label="备注" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <!--scope.row表示列表中的一条数据-->
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row.id)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row.id)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-size="pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增用户" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs  type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="用户名" prop="username">
                                                <el-input v-model="formData.username"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="密码" prop="password">
                                                <el-input v-model="formData.password"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="性别">
                                                <el-select v-model="formData.gender">
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="电话" prop="telephone">
                                                <el-input v-model="formData.telephone"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="邮箱" prop="email">
                                                <el-input v-model="formData.email"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                        <el-form-item label="生日" prop="birthday">
                                            <el-input v-model="formData.birthday"/>
                                        </el-form-item>
                                    </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="备注">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="角色信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                            <tr align="center">
                                                <th>选择</th>
                                                <th>角色名称</th>
                                                <th>关键字</th>
                                                <th>角色描述</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="c in tableData" align="center">
                                                <td>
                                                    <input :id="c.id" v-model="roleIds" type="checkbox" :value="c.id">
                                                </td>
                                                <td><label :for="c.id">{{c.name}}</label></td>
                                                <td><label :for="c.id">{{c.keyword}}</label></td>
                                                <td><label :for="c.id">{{c.description}}</label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑用户" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs  type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="用户名" prop="username">
                                                <el-input v-model="formData.username"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="密码" prop="password">
                                                <el-input v-model="formData.password"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="性别">
                                                <el-select v-model="formData.gender">
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="电话" prop="telephone">
                                                <el-input v-model="formData.telephone"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="生日" prop="birthday">
                                                <el-input v-model="formData.birthday"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="邮箱" prop="email">
                                                <el-input v-model="formData.email"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="备注">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="角色信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>角色名称</th>
                                            <th>关键字</th>
                                            <th>角色描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData" align="center">
                                            <td>
                                                <input :id="c.id" v-model="roleIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="/static/js/vue.js"></script>
<script src="/static/plugins/elementui/index.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            //当前页码
            currentPage: 1,
            //每页显示的记录数
            pageSize: 6,
            //总记录数
            total: 0,
            //查询条件
            queryString: null,
            //列表数据
            dataList: [],
            //当前页要展示的分页列表数据
            roleIds: [],
            // 新增和编辑表单中对应的角色列表数据
            tableData:[],
            //表单数据
            formData: {},
            //增加表单是否可见
            dialogFormVisible: false,
            //编辑表单是否可见
            dialogFormVisible4Edit: false,
            rules: {
                username: [{required: true, message: '用户名为必填项', trigger: 'blur'}],
                password: [{required: true, message: '密码为必填项', trigger: 'blur'}]
            }
        },

        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        methods: {
            //重置表单
            resetForm() {
                this.formData = {};
                this.roleIds = [];
            },
            //分页查询
            findPage: function () {
                var _this = this;

                var currentPage = _this.currentPage;
                var pageSize = _this.pageSize;
                var queryString = _this.queryString;

                axios.post("/user/queryusers", {
                    currentPage: currentPage,
                    pageSize: pageSize,
                    queryString: queryString
                }).then(function (response) {
                    _this.total = response.data.total;
                    _this.dataList = response.data.rows;
                });
            },
            //切换页码
            handleCurrentChange(currentPage) {
                var _this = this;
                _this.currentPage = currentPage;
                this.findPage();
            },
            // 弹出添加窗口
            handleCreate(){
                //先清空表单
                this.resetForm();
                var _this = this;
                _this.dialogFormVisible = true;
                //发送ajax请求查询所有的角色信息，显示到窗口中
                axios.get("/role/findroles").then(function (response) {
                    //可以进行角色的列表展示
                    _this.tableData = response.data;
                });
            },
            // 弹出编辑窗口并回显数据
            handleUpdate(id){
                //先清空表单
                this.resetForm();
                var _this = this;
                // 显示编辑窗口
                _this.dialogFormVisible4Edit = true;

                /*回显数据*/
                axios.get("/user/findById/"+id).then(function (response) {
                    // 回显用户基本信息
                    _this.formData = response.data.data;
                    //发送ajax请求查询所有的角色信息，显示到窗口中
                    axios.get("/role/findroles").then(function (response) {
                        //可以进行角色的列表展示
                        _this.tableData = response.data;

                        //发送ajax请求查询当前用户已有的角色信息
                        axios.get("/role/queryByUserId/"+id).then(function (response) {
                            response.data.data.forEach(function (e,i) {
                                _this.roleIds.push(e.id);
                            });
                        });
                    });
                });

            },
            // 删除
            handleDelete(id){
                var _this = this;
                this.$confirm("确认删除当前选中记录吗？", "提示", {type: 'warning'}).then(() => {
                    axios.get("/user/deleteById/" + id).then(function (response) {
                        if (response.data.flag) {
                            _this.$message({
                                type: 'success',
                                message: response.data.message
                            });
                            //删除成功后刷新页面
                            _this.findPage();
                        } else {
                            _this.$message({
                                type: 'error',
                                message: response.data.message
                            });
                        }
                    })
                }).catch(() => {
                    //点击取消时执行的逻辑
                    //如果没有catch，浏览器会报错
                    _this.$message('操作已取消');
                });
            },
            //时间格式化
            dateFormat: function (row, column) {
                //row 表示一行数据, updateTime 表示要格式化的字段名称
                var t = new Date(row.birthday);
                return t.getFullYear() + "年" + (t.getMonth() + 1) + "月" + t.getDate() + "日";
            }
        }
    })
</script>
</html>