<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <title>传智健康</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/plugins/elementui/index.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>后台管理
            <small>会员档案</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>后台管理</el-breadcrumb-item>
            <el-breadcrumb-item>会员档案</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="姓名" v-model="queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <!--数据表格-->
            <el-table size="small" current-row-key="id" :data="tableData" stripe highlight-current-row>
                <el-table-column prop="filenumber" align="center" label="档案号"></el-table-column>
                <el-table-column prop="name" label="姓名" align="center"></el-table-column>
                <el-table-column label="性别" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.sex == '1' ? '男' : '女'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="age" label="年龄" align="center"></el-table-column>
                <el-table-column prop="healthMgrName" label="健康管理师" align="center"></el-table-column>
                <el-table-column prop="phonenumber" label="手机号码" align="center"></el-table-column>
                <el-table-column prop="regtime" label="注册时间" align="center" :formatter="dateFormat"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <!--scope.row表示列表中的一条数据-->
                        <el-button type="primary" size="mini" @click="findById(scope.row.id)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!--分页-->
            <div class="pagination-container" align="right">
                <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-size="pageSize"
                        layout="total, prev, pager, next"
                        :total="total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增会员" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="档案号" prop="filenumber">
                                                <el-input v-model="formData.filenumber"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="密码" prop="password">
                                                <el-input v-model="formData.password"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="姓名" prop="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="性别" prop="sex">
                                                <el-select v-model="formData.sex">
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="手机号码" prop="phonenumber">
                                                <el-input v-model="formData.telephone"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="身份证" prop="idcard">
                                                <el-input v-model="formData.idcard"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="出生日期" prop="birthday">
                                                <el-input v-model="formData.birthday"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="邮箱">
                                                <el-input v-model="formData.email"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="婚姻状态" prop="maritalStatus">
                                                <el-select v-model="formData.maritalStatus">
                                                    <el-option label="已婚" value="0"></el-option>
                                                    <el-option label="未婚" value="1"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="职业" prop="job">
                                                <el-input v-model="formData.job"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="文化程度" prop="educationDegree">
                                                <el-input v-model="formData.educationDegree"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="籍贯" prop="nativePlace">
                                                <el-input v-model="formData.nativePlace"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="健康管理师" prop="healthManagerName">
                                                <el-input v-model="formData.healthManagerName"></el-input>
                                            </el-form-item>
                                        </el-col>

                                        <el-col :span="10">
                                            <el-form-item label="档案状态" prop="status">
                                                <el-select v-model="formData.status">
                                                    <el-option label="启用" value="0"></el-option>
                                                    <el-option label="禁用" value="1"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="备注" prop="remark">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="动态信息" name="second">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="6">
                                            <el-form-item label="身高" prop="height">
                                                <el-input v-model="formData.height"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="体重" prop="weight">
                                                <el-input v-model="formData.weight"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="舒张压" prop="dbp">
                                                <el-input v-model="formData.dbp"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="收缩压" prop="sbp">
                                                <el-input v-model="formData.sbp"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>


                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="呼吸" prop="breth">
                                                <el-input v-model="formData.breth"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="体温" prop="thermometer">
                                                <el-input v-model="formData.thermometer"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="腰围" prop="waistline">
                                                <el-input v-model="formData.waistline"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="臀围" prop="hipline">
                                                <el-input v-model="formData.hipline"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="BMI" prop="bmi">
                                                <el-input v-model="formData.bmi"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="血氧饱和度" prop="spo">
                                                <el-input v-model="formData.spo">%</el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>

                            <el-tab-pane label="病史" name="third">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="既往史" prop="previousHistory">
                                                <el-input v-model="formData.previousHistory" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="家族史" prop="">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="过敏史" prop="allergicHistory">
                                                <el-input v-model="formData.allergicHistory" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="病史" prop="medicalHistory">
                                                <el-input v-model="formData.medicalHistory" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="慢性病" prop="chronicDisease">
                                                <el-input v-model="formData.chronicDisease" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑会员" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="档案号" prop="filenumber">
                                                <el-input v-model="formData.member.filenumber"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="密码" prop="password">
                                                <el-input v-model="formData.member.password"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="姓名" prop="name">
                                                <el-input v-model="formData.member.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="性别" prop="sex">
                                                <el-select v-model="formData.member.sex">
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="手机号码" prop="phonenumber">
                                                <el-input v-model="formData.member.telephone"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="身份证" prop="idcard">
                                                <el-input v-model="formData.member.idcard"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="出生日期" prop="birthday">
                                                <el-input v-model="formData.member.birthday"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="邮箱">
                                                <el-input v-model="formData.member.email"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="婚姻状态" prop="maritalStatus">
                                                <el-select v-model="formData.memberInfo.maritalStatus">
                                                    <el-option label="已婚" value="0"></el-option>
                                                    <el-option label="未婚" value="1"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="职业" prop="job">
                                                <el-input v-model="formData.memberInfo.job"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="文化程度" prop="educationDegree">
                                                <el-input v-model="formData.memberInfo.educationDegree"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="籍贯" prop="nativePlace">
                                                <el-input v-model="formData.memberInfo.nativePlace"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="健康管理师" prop="healthManagerName">
                                                <el-input v-model="formData.healthManagerName"></el-input>
                                            </el-form-item>
                                        </el-col>

                                        <el-col :span="10">
                                            <el-form-item label="档案状态" prop="status">
                                                <el-select v-model="formData.member.status">
                                                    <el-option label="启用" value="0"></el-option>
                                                    <el-option label="禁用" value="1"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="备注" prop="remark">
                                                <el-input v-model="formData.member.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="动态信息" name="second">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="6">
                                            <el-form-item label="身高" prop="height">
                                                <el-input v-model="formData.memberDynamicInfo.height"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="体重" prop="weight">
                                                <el-input v-model="formData.memberDynamicInfo.weight"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="舒张压" prop="dbp">
                                                <el-input v-model="formData.memberDynamicInfo.dbp"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="收缩压" prop="sbp">
                                                <el-input v-model="formData.memberDynamicInfo.sbp"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="呼吸" prop="breth">
                                                <el-input v-model="formData.memberDynamicInfo.breth"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="体温" prop="thermometer">
                                                <el-input v-model="formData.memberDynamicInfo.thermometer"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="腰围" prop="waistline">
                                                <el-input v-model="formData.memberDynamicInfo.waistline"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="臀围" prop="hipline">
                                                <el-input v-model="formData.memberDynamicInfo.hipline"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="10">
                                            <el-form-item label="BMI" prop="bmi">
                                                <el-input v-model="formData.memberDynamicInfo.bmi"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="血氧饱和度" prop="spo">
                                                <el-input v-model="formData.memberDynamicInfo.spo">%</el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>

                            <el-tab-pane label="病史" name="third">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="既往史" prop="previousHistory">
                                                <el-input v-model="formData.memberMedicalHistory.previousHistory"
                                                          type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="家族史" prop="">
                                                <el-input v-model="formData.memberMedicalHistory.remark"
                                                          type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="过敏史" prop="allergicHistory">
                                                <el-input v-model="formData.memberMedicalHistory.allergicHistory"
                                                          type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="病史" prop="medicalHistory">
                                                <el-input v-model="formData.memberMedicalHistory.medicalHistory"
                                                          type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="20">
                                            <el-form-item label="慢性病" prop="chronicDisease">
                                                <el-input v-model="formData.memberMedicalHistory.chronicDisease"
                                                          type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleUpdate()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="/static/js/vue.js"></script>
<script src="/static/plugins/elementui/index.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            //当前页码
            currentPage: 1,
            //每页显示的记录数
            pageSize: 6,
            //总记录数
            total: 0,
            //查询条件
            queryString: null,
            //当前页要展示的分页列表数据
            tableData: [],
            //表单数据
            formData: {},
            //增加表单是否可见
            dialogFormVisible: false,
            //编辑表单是否可见
            dialogFormVisible4Edit: false,
            rules: {}
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage(this.currentPage, this.pageSize, this.queryString);
        },
        methods: {
            //分页查询
            findPage: function (currentPage, pageSize, queryString) {
                var _this=this;
                axios.post("/memberInfo/members", {
                    currentPage: _this.currentPage,
                    pageSize: _this.pageSize,
                    queryString: _this.queryString
                }).then(function (response) {
                    _this.total = response.data.total;
                    _this.tableData = response.data.rows;
                })
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.currentPage = currentPage;
                this.findPage(this.currentPage, this.pageSize, this.queryString);
            },

            // 弹出添加窗口
            handleCreate() {
                var _this = this;
                _this.dialogFormVisible = true;
            },
            // 弹出编辑窗口
            findById(id) {
                var _this = this;
                // 查询数据后,将数据显示到弹窗后再显示弹窗
                var memberId = id;
                var url = "/memberInfo/member/" + memberId;
                axios.get(url).then(function (response) {
                    _this.formData = response.data;
                    _this.dialogFormVisible4Edit = true;
                }).catch(function (err) {
                });
            }
        },
        //时间格式化
        dateFormat: function (row, column) {
            //row 表示一行数据, updateTime 表示要格式化的字段名称
            var t = new Date(row.regtime);
            return t.getFullYear() + "年" + (t.getMonth() + 1) + "月" + t.getDate() + "日";
        }
    });
</script>
</html>