<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.health.mapper.MemberExaminationMapper">
    <resultMap id="BaseResultMap" type="com.health.bean.MemberExamination">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="member_id" property="memberId" jdbcType="INTEGER"/>
        <result column="exam_date" property="examDate" jdbcType="TIMESTAMP"/>
        <result column="setmeal_id" property="setmealId" jdbcType="INTEGER"/>
        <result column="report_state" property="reportState" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, member_id, exam_date, setmeal_id, report_state
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.health.bean.MemberExaminationExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_member_examination
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_member_examination
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_member_examination
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.health.bean.MemberExaminationExample">
        delete from t_member_examination
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.health.bean.MemberExamination">
    insert into t_member_examination (id, member_id, exam_date, 
      setmeal_id, report_state)
    values (#{id,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{examDate,jdbcType=TIMESTAMP}, 
      #{setmealId,jdbcType=INTEGER}, #{reportState,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.health.bean.MemberExamination">
        insert into t_member_examination
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="examDate != null">
                exam_date,
            </if>
            <if test="setmealId != null">
                setmeal_id,
            </if>
            <if test="reportState != null">
                report_state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=INTEGER},
            </if>
            <if test="examDate != null">
                #{examDate,jdbcType=TIMESTAMP},
            </if>
            <if test="setmealId != null">
                #{setmealId,jdbcType=INTEGER},
            </if>
            <if test="reportState != null">
                #{reportState,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.health.bean.MemberExaminationExample" resultType="java.lang.Integer">
        select count(*) from t_member_examination
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_member_examination
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.memberId != null">
                member_id = #{record.memberId,jdbcType=INTEGER},
            </if>
            <if test="record.examDate != null">
                exam_date = #{record.examDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.setmealId != null">
                setmeal_id = #{record.setmealId,jdbcType=INTEGER},
            </if>
            <if test="record.reportState != null">
                report_state = #{record.reportState,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_member_examination
        set id = #{record.id,jdbcType=INTEGER},
        member_id = #{record.memberId,jdbcType=INTEGER},
        exam_date = #{record.examDate,jdbcType=TIMESTAMP},
        setmeal_id = #{record.setmealId,jdbcType=INTEGER},
        report_state = #{record.reportState,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.health.bean.MemberExamination">
        update t_member_examination
        <set>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=INTEGER},
            </if>
            <if test="examDate != null">
                exam_date = #{examDate,jdbcType=TIMESTAMP},
            </if>
            <if test="setmealId != null">
                setmeal_id = #{setmealId,jdbcType=INTEGER},
            </if>
            <if test="reportState != null">
                report_state = #{reportState,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.health.bean.MemberExamination">
    update t_member_examination
    set member_id = #{memberId,jdbcType=INTEGER},
      exam_date = #{examDate,jdbcType=TIMESTAMP},
      setmeal_id = #{setmealId,jdbcType=INTEGER},
      report_state = #{reportState,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>