<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.health.mapper.MemberDynamicInfoMapper">
    <resultMap id="BaseResultMap"
               type="com.health.bean.MemberDynamicInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="t_member_id" property="tMemberId"
                jdbcType="INTEGER"/>
        <result column="height" property="height" jdbcType="REAL"/>
        <result column="weight" property="weight" jdbcType="REAL"/>
        <result column="dbp" property="dbp" jdbcType="REAL"/>
        <result column="sbp" property="sbp" jdbcType="REAL"/>
        <result column="breth" property="breth" jdbcType="VARCHAR"/>
        <result column="thermometer" property="thermometer"
                jdbcType="REAL"/>
        <result column="waistline" property="waistline" jdbcType="REAL"/>
        <result column="hipline" property="hipline" jdbcType="REAL"/>
        <result column="bmi" property="bmi" jdbcType="INTEGER"/>
        <result column="spo" property="spo" jdbcType="REAL"/>
        <result column="create_time" property="createTime"
                jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime"
                jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria"
                     separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem"
                                             open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria"
                     separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem"
                                             open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
		id, t_member_id, height, weight, dbp, sbp, breth, thermometer, waistline,
		hipline,
		bmi, spo, create_time, update_time
	</sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.health.bean.MemberDynamicInfoExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_member_dynamicinfo
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_member_dynamicinfo
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey"
            parameterType="java.lang.Integer">
		delete from t_member_dynamicinfo
		where id = #{id,jdbcType=INTEGER}
	</delete>
    <delete id="deleteByExample"
            parameterType="com.health.bean.MemberDynamicInfoExample">
        delete from t_member_dynamicinfo
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert"
            parameterType="com.health.bean.MemberDynamicInfo">
		insert into t_member_dynamicinfo (id, t_member_id, height,
		weight, dbp, sbp, breth,
		thermometer, waistline, hipline,
		bmi, spo, create_time,
		update_time)
		values (#{id,jdbcType=INTEGER}, #{tMemberId,jdbcType=INTEGER},
		#{height,jdbcType=REAL},
		#{weight,jdbcType=REAL}, #{dbp,jdbcType=REAL}, #{sbp,jdbcType=REAL},
		#{breth,jdbcType=VARCHAR},
		#{thermometer,jdbcType=REAL}, #{waistline,jdbcType=REAL}, #{hipline,jdbcType=REAL},
		#{bmi,jdbcType=INTEGER}, #{spo,jdbcType=REAL},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP})
	</insert>
    <insert id="insertSelective"
            parameterType="com.health.bean.MemberDynamicInfo">
        insert into t_member_dynamicinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tMemberId != null">
                t_member_id,
            </if>
            <if test="height != null">
                height,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="dbp != null">
                dbp,
            </if>
            <if test="sbp != null">
                sbp,
            </if>
            <if test="breth != null">
                breth,
            </if>
            <if test="thermometer != null">
                thermometer,
            </if>
            <if test="waistline != null">
                waistline,
            </if>
            <if test="hipline != null">
                hipline,
            </if>
            <if test="bmi != null">
                bmi,
            </if>
            <if test="spo != null">
                spo,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tMemberId != null">
                #{tMemberId,jdbcType=INTEGER},
            </if>
            <if test="height != null">
                #{height,jdbcType=REAL},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=REAL},
            </if>
            <if test="dbp != null">
                #{dbp,jdbcType=REAL},
            </if>
            <if test="sbp != null">
                #{sbp,jdbcType=REAL},
            </if>
            <if test="breth != null">
                #{breth,jdbcType=VARCHAR},
            </if>
            <if test="thermometer != null">
                #{thermometer,jdbcType=REAL},
            </if>
            <if test="waistline != null">
                #{waistline,jdbcType=REAL},
            </if>
            <if test="hipline != null">
                #{hipline,jdbcType=REAL},
            </if>
            <if test="bmi != null">
                #{bmi,jdbcType=INTEGER},
            </if>
            <if test="spo != null">
                #{spo,jdbcType=REAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample"
            parameterType="com.health.bean.MemberDynamicInfoExample"
            resultType="java.lang.Integer">
        select count(*) from t_member_dynamicinfo
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_member_dynamicinfo
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.tMemberId != null">
                t_member_id = #{record.tMemberId,jdbcType=INTEGER},
            </if>
            <if test="record.height != null">
                height = #{record.height,jdbcType=REAL},
            </if>
            <if test="record.weight != null">
                weight = #{record.weight,jdbcType=REAL},
            </if>
            <if test="record.dbp != null">
                dbp = #{record.dbp,jdbcType=REAL},
            </if>
            <if test="record.sbp != null">
                sbp = #{record.sbp,jdbcType=REAL},
            </if>
            <if test="record.breth != null">
                breth = #{record.breth,jdbcType=VARCHAR},
            </if>
            <if test="record.thermometer != null">
                thermometer = #{record.thermometer,jdbcType=REAL},
            </if>
            <if test="record.waistline != null">
                waistline = #{record.waistline,jdbcType=REAL},
            </if>
            <if test="record.hipline != null">
                hipline = #{record.hipline,jdbcType=REAL},
            </if>
            <if test="record.bmi != null">
                bmi = #{record.bmi,jdbcType=INTEGER},
            </if>
            <if test="record.spo != null">
                spo = #{record.spo,jdbcType=REAL},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_member_dynamicinfo
        set id = #{record.id,jdbcType=INTEGER},
        t_member_id = #{record.tMemberId,jdbcType=INTEGER},
        height = #{record.height,jdbcType=REAL},
        weight = #{record.weight,jdbcType=REAL},
        dbp = #{record.dbp,jdbcType=REAL},
        sbp = #{record.sbp,jdbcType=REAL},
        breth = #{record.breth,jdbcType=VARCHAR},
        thermometer = #{record.thermometer,jdbcType=REAL},
        waistline = #{record.waistline,jdbcType=REAL},
        hipline = #{record.hipline,jdbcType=REAL},
        bmi = #{record.bmi,jdbcType=INTEGER},
        spo = #{record.spo,jdbcType=REAL},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.health.bean.MemberDynamicInfo">
        update t_member_dynamicinfo
        <set>
            <if test="tMemberId != null">
                t_member_id = #{tMemberId,jdbcType=INTEGER},
            </if>
            <if test="height != null">
                height = #{height,jdbcType=REAL},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=REAL},
            </if>
            <if test="dbp != null">
                dbp = #{dbp,jdbcType=REAL},
            </if>
            <if test="sbp != null">
                sbp = #{sbp,jdbcType=REAL},
            </if>
            <if test="breth != null">
                breth = #{breth,jdbcType=VARCHAR},
            </if>
            <if test="thermometer != null">
                thermometer = #{thermometer,jdbcType=REAL},
            </if>
            <if test="waistline != null">
                waistline = #{waistline,jdbcType=REAL},
            </if>
            <if test="hipline != null">
                hipline = #{hipline,jdbcType=REAL},
            </if>
            <if test="bmi != null">
                bmi = #{bmi,jdbcType=INTEGER},
            </if>
            <if test="spo != null">
                spo = #{spo,jdbcType=REAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.health.bean.MemberDynamicInfo">
		update t_member_dynamicinfo
		set t_member_id = #{tMemberId,jdbcType=INTEGER},
		height = #{height,jdbcType=REAL},
		weight = #{weight,jdbcType=REAL},
		dbp = #{dbp,jdbcType=REAL},
		sbp = #{sbp,jdbcType=REAL},
		breth = #{breth,jdbcType=VARCHAR},
		thermometer = #{thermometer,jdbcType=REAL},
		waistline = #{waistline,jdbcType=REAL},
		hipline = #{hipline,jdbcType=REAL},
		bmi = #{bmi,jdbcType=INTEGER},
		spo = #{spo,jdbcType=REAL},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>